@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Inter:wght@400;500;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-datepicker__input-container input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline-color: none;
  outline: none;
  padding: 5px 10px;
  width: 120px;
}
